.my-container {
	margin: 5% auto;
	background-color: #EDF5FD;
	width: 60%;
	padding: 0px 0px;
}

.first-container {
	background-color: #BBF4F7;
	height: 140px;
	margin: 0px, 0px;
	padding: 40px;
}

.second-container {
	background-color: #343F4B;
	height: 18px;
	margin: 0px, 0px;
}

.third-container {
	margin: 0px, 0px;
	padding: 30px;
}

.my-button {
	background-color: #47525E;
	border-radius: 5px;
	color: white;
	display: block;
	margin: 15px auto 0px auto;

}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}