.about-us {
	margin: 20px;
	padding: 20px;
}

.teks-judul {
	padding: 10px;
	margin: 20px;
}

#teks-isi {
	padding: 20px;
	margin: 20px;
}

.testimoni {
	padding: 20px;
	margin: 20px;
}

.text-area-login {
	padding: 20px;
	margin: 20px;
	max-width: 100px;
}