#kotak-pertama{
  background-color: #EDF5FD;
  width: auto;
  height: 100%;
  padding: 20px;
  text-align: center;
}

#siapa-kita-atas{
  text-align: center;
}
#kotak-kedua{
  background-color: #BBF4F7;
  width: auto;
  height: 100%;
  padding: 20px;
  text-align: center;
}

#kotak-kedua-dalam{
  background-color: white;
  padding: 20px;
}

#kotak-ketiga{
  background-color: #ffffff;
  width: auto;
  height: 100%;
  padding: 20px;
}

#card-program{
  padding: 20px;
}

#kotak-keempat{
  background-color: #969FAA;
  color: white;
  padding: 20px;
}