<!DOCTYPE html>
{% load static %}
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Detail News - FundThem</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'baseapp/css/News.css' %}">
  <link rel="stylesheet" href="{% static 'news/css/newsdetail.css' %}">
  <link rel="stylesheet" href="{% static 'donate/css/donate.css' %}">
  <link rel="icon" href="{% static 'baseapp/image/icon.png' %}" type="image/x-icon"/>
<html>
{% if user.is_authenticated %}
{% include 'baseapp/Navbar-login.html' %}
{% else %}
{% include 'baseapp/Navbar.html' %}
{% endif %}
<body style="background-color: #EDF5FD;">
	<content>
		<div class="detail_donasi_container">
			<p class="title">{{ program.program_name }}</p>
			<p class="start_time">Mulai : {{ program.started_time }}</p>
			<div class="donatur">
				<div class="row">
					<div class="text_terkumpul">
						<p>{{ percent }}%</p>
						<div class="persen">
							<div style="width: {{ percent }}%; height: 25px; background-color: #47525E;">
							</div>
						</div>
						<p>Target : Rp.{{ program.target_fund }}</p>
						<p>Terkumpul : Rp.{{ program.current_fund }}</p>
					</div>
					<div class="donatur_container">
						<div class="text_donatur">List donatur :</div>
						<div class="text_donatur" style="font-size: 15px;">
						<p>
						{% for i in program.donator.all %}
						{{ i.first_name }},
						{% endfor %}
						</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="news-data">
		    <div class="news-data-button">
      			<div class="container">
        			<div class="row">
          				<div class="col-auto mr-auto">
            				<form method='GET' action="/news/{{ program.id }}/">
              					<button type="submit" class="btn btn-dark">Kembali</button>
            				</form>
          				</div>
          				<div class="col-auto">
          					<form method='GET' action="/submit_donasi/{{ program.id }}/">
            					<button type="submit" class="btn btn-dark">Donate</button>
          					</form>
          				</div>
        			</div>
      			</div>
    		</div>
  		</div>
	</content>
</body>
{% include 'baseapp/Footer.html' %}
</html>