{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>
		{% block title %}
		Tentang Kami
		{% endblock title %}
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'about/css/about.css' %}">
	<link rel="stylesheet" href="{% static 'account/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'baseapp/css/News.css' %}">
	<link rel="icon" href="{% static 'baseapp/image/icon.png' %}" type="image/x-icon" />
</head>

{% if isLogin %}
{% include 'baseapp/Navbar-login.html' %}
{% else %}
{% include 'baseapp/Navbar.html' %}
{% endif %}

<body>
	<div class="about-us">
		<div id="teks-judul">
			<h1>Tentang Kami</h1>
		</div>
		<div id="teks-isi">
			<p>Ini adalah semua testimoni pengguna di website kami</p>
		</div>
	</div>

	<div class="testimoni">
		<div class="judul">
			<h1>Ini kata mereka</h1>
		</div>

		{% for about in about_list %}
		<div class="card text-center" style="margin: 25px;">
			<div class="card-body">
				<h5 class="card-title">{{ about.title }}</h5>
				<p class="card-text">{{ about.message }}</p>
				<p>From {{ about.user.username }}</p>
			</div>
		</div>
		{% endfor %}

		{% if isLogin %}
		<div class="judul">
			<h1>Apa menurutmu?</h1>
		</div>

		<div class="text-center text-area-login">
			<form action="post/" method="POST" class="form-group">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="btn btn-primary" type="submit">Submit</button>
			</form>
		</div>
		{% endif %}

	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>
</body>

{% include 'baseapp/Footer.html' %}

</html>