<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Profil - FundThem</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'account/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'baseapp/css/News.css' %}">
	<link rel="icon" href="{% static 'baseapp/image/icon.png' %}" type="image/x-icon"/>
</head>
{% if user.is_authenticated %}
{% include 'baseapp/Navbar-login.html' %}
{% else %}
{% include 'baseapp/Navbar.html' %}
{% endif %}
<body>
	<div class="container-fluid my-container">
		<div class="first-container">
			<h1 class="vcenter">Profil</h1>
		</div>
		<div class="container-fluid second-container">
		</div>
		<div class="container-fluid third-container">
			{% if user.is_authenticated %}
			<h3>Username : </h3>
			<p>{{ user.username }}</p>
			<br>
			<h3>Nama Lengkap : </h3>
			<p>{{ user.first_name }}</p>
			<br>
			<h3>E-Mail : </h3>
			<p>{{ user.email }}</p>
			<br>
			<h3>List Donasi</h3>
			<ul>
			{% for donation in donation_list %}
			<li><a href="/donate/{{ donation.id }}/">{{ donation.program_name }}</a></li>
			{% endfor %}
			</ul>
			{% else %}
			<p><a href="{% url 'social:begin' 'google-oauth2' %}">Login</a> untuk melihat halaman ini</p>
			{% endif %}
		</div>
	</div>
</body>
{% include 'baseapp/Footer.html' %}
</html>