.detail_donasi_container {
	background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    border-color: #5A6978;
    width: 1000px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
}

.title {
    color: #47525E;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
    margin: auto;
    margin-top: 1.5%;
}

.start_time {
    color: #c0c1c4;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    line-height: 45px;
    margin: auto;
}

.row {
    display: flex;
}

.crop {
    width: 400px;
    height: 320px;
    margin-left: 3%;
    overflow: hidden;
}

.donate_image {
    margin-left: -10%;
    height: 100%;
}

.donate_detail {
    width: 900px;
    color: #47525E;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    padding-left: 40px;
}

.donatur_container {
    background-color: #c0c1c4;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    padding-top: 10px;
}

.donatur {
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 90%;
    height: 70%;
}

.text_terkumpul {
    color: #47525E;
    font-size: 35px;
    font-weight: 400px;
    line-height: 45px;
    margin-left: 3%;
    margin-top: 3%;
}

.text_donatur {
    color: #47525E;
    font-size: 20px;
    font-weight: 400px;
    line-height: 25px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.persen {
    background-color: #c0c1c4;
    border-radius: 35px;
    width: 870px;
    height: 25px;
    margin-bottom: 30px;
    overflow: hidden;
}

.form_donasi_container {
    background-color: #47525E;
    border-radius: 35px;
    width: 1000px;
    height: 465px;
    margin: 50px auto;
    padding: 30px;
}

.form_title {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
}

.form_donasi {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    line-height: 45px;
    margin-left: 3%;
    margin-top: 3%;
}

.field_edit {
    text-indent: 6px;
    border: none;
    border: solid 1px;
    border-radius: 5px;
    height: 20px;
    width: 200px;
    margin-left: 40px;
}

.field_edit_long {
    text-indent: 6px;
    border: none;
    border: solid 1px;
    border-radius: 5px;
    height: 20px;
    width: 400px;
    margin-left: 40px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.checkboxOne {
    width: 40px;
    height: 15px;
    background-color: #FFFFFF;
    margin-right: -5px;
    margin-left: -5px;
    border-radius: 3px;
}

.buttonOne {
    border: none;
    border: solid 1px;
    border-radius: 5px;
    margin: auto;
    color: #47525E;
    font-size: 18px;
    text-align: center;
    width: 156.59px;
    height: 45px;
}
