.isi-news{
  padding: 20px;
}

.judul{
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.kotak-1{
  border: 1px solid black;
  padding: 20px;
  margin: 20px auto;
}

/* .kotak-1-gambar{
  width: 376px;
  height: 250.6px;
} */