.news-content {
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.news-title {
  padding: 30px;
  font-size: 40px;
}

.news-text {
  padding: 30px;
  text-align: justify;
}

.news-data {
  padding: 30px;
  margin: 20px;
}

.news-button {
  padding: 30px;
  margin: 20px;
}