<div id="kotak-keempat">
  <div class="d-flex justify-content-between">
    <div id="contact">
      <p>Yayasan FundThem</p>
      <p>Contact : 000000000000</p>
    </div>
    <div id="media-sosial">
      <p>FundThem Copyright 2018</p>
      <a href="{% url 'about' %}" class="btn btn-secondary">About</a>
    </div>
  </div>
</div>