{% load static %}
<div class="navbar-news">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="{% url 'homepage' %}"><img style="width: 10%" src="{% static 'baseapp/image/FundThem-logo-navbar.png' %}"></a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">{{ user.username }}</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>