<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>FundThem</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'baseapp/css/News.css' %}">
	<link rel="icon" href="{% static 'baseapp/image/icon.png' %}" type="image/x-icon" />
</head>

{% if user.is_authenticated %}
{% include 'baseapp/Navbar-login.html' %}
{% else %}
{% include 'baseapp/Navbar.html' %}
{% endif %}

<body>
	<div class="isi-news">
		<div id="kotak-pertama">
			<div id="siapa-kita-atas">
				<div class="d-flex justify-content-center">
					<div id="siapa-kita-tengah-atas">
						<img width="15%" src="{% static 'baseapp/image/FundThem-logo.png' %}">
						<p>Kami adalah yayasan FundThem</p>
					</div>
				</div>
			</div>
			<div class="siapa-kita-bawah">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-6 col-md-4">
							<div id="siapa-kita-kiri">
								<img style="width: 10%;" src="{% static 'baseapp/image/profit.png' %}">
								<p>Kita adalah yayasan penggalangan dana untuk program-program yang kekurangan dana</p>
							</div>
						</div>
						<div class="col-6 col-md-4">
							<img style="width: 10%;" src="{% static 'baseapp/image/handshake.png' %}">
							<p>Dana yang berhasil dikumpulkan akan disalurkan ke pihak yang membutuhkan bantuan</p>
						</div>
						<div class="col-6 col-md-4">
							<img style="width: 10%;" src="{% static 'baseapp/image/interview.png' %}">
							<p>Kamu dapat menyarankan program apa saja yang dapat kami bantu</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="kotak-kedua">
			<div id="kotak-kedua-dalam">
				<div id="kotak-kedua-atas">
					<div class="container">
						<div class="row align-items-center">
							<div class="col">
								<div id="total-donasi">
									<h5>{{ total_donation }}</h5>
									<p>Total Donasi</p>
								</div>
							</div>
							<div class="col">
								<div id="total-donatur">
									<h5>{{ user_length }}</h5>
									<p>Total Donatur</p>
								</div>
							</div>
							<div class="col">
								<div id="program-terbantu">
									<h5>{{ finished_program }}</h5>
									<p>Program Terbantu</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="kotak-ketiga">
			<div id="program-terpopuler">
				<div class="d-flex justify-content-center">
					<h5>3 Program Terpopuler</h5>
				</div>
			</div>
			<div id="card-program">
				<div class="container">
					<div class="card-columns">
						{% for program in popular_program %}
						<div class="card bg-light">
							<img class="card-img-top" src="{{ program.news.image_link }}" alt="Card image cap">
							<div class="card-body text-center">
								<h5 class="card-title">{{ program.program_name }}</h5>
								<p class="card-text">{{ program.started_time }}</p>
								<div class="row">
									<div class="col-md-6">
										<p>Target</p>
										<p class="card-text">Rp.{{ program.target_fund }}</p>
									</div>
									<div class="col-md-6">
										<p>Sekarang</p>
										<p class="card-text">Rp.{{ program.current_fund }}</p>
									</div>
								</div>
								<div class="progress">
									<div class="progress-bar" role="progressbar" style="width: {% widthratio program.current_fund program.target_fund 100 %}%"
									 aria-valuenow="{% widthratio program.current_fund program.target_fund 100 %}" aria-valuemin="0" aria-valuemax="100">{%
										widthratio program.current_fund program.target_fund 100 %}%</div>
								</div>
								<br>
								<a href="donate/{{ program.id }}" class="btn btn-primary">Donasi</a>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div id="tombol-lihat-semua-program">
				<div class="d-flex justify-content-center">
					<a href="{% url 'newslist' %}" class="btn btn-primary btn-lg">Lihat Semua Berita</a>
				</div>
			</div>
		</div>
	</div>
</body>
{% include 'baseapp/Footer.html' %}

</html>