<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Donation Detail</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'baseapp/css/News.css' %}">
  <link rel="stylesheet" href="{% static 'submitDonasi/css/donationdetail.css' %}">
  <link rel="icon" href="{% static 'baseapp/image/icon.png' %}" type="image/x-icon" />
</head>
{% if user.is_authenticated %}
{% include 'baseapp/Navbar-login.html' %}
{% else %}
{% include 'baseapp/Navbar.html' %}
{% endif %}

<body>
  <div class="form-donasi">
    <div class="tulisan-form-donasi text-center">
      <h1>Form Donasi</h1>
      <p>Untuk : <a href="/donate/{{ program.id }}/">{{ program.program_name }}</a></p>
    </div>
    <div class="isi-form-donasi">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Donasi</button>
    </div>
    </form>
  </div>

  <div class="progress-donasi">
    <div class="progress-bar">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
          aria-valuemax="100">25%</div>
      </div>
    </div>
  </div>
</body>

</html>