<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>News</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'baseapp/css/News.css' %}">
  <link rel="stylesheet" href="{% static 'news/css/news.css' %}">
  <link rel="icon" href="{% static 'baseapp/image/icon.png' %}" type="image/x-icon"/>
</head>

{% if user.is_authenticated %}
{% include 'baseapp/Navbar-login.html' %}
{% else %}
{% include 'baseapp/Navbar.html' %}
{% endif %}
<body>
  <div class="isi-news">
    <div class="judul">
      <p><b>Daftar Program Donasi</b></p>
    </div>
    {% for i in news %}
    <div class="kotak-1">
      <div class="row">
        <div class="col-sm-4">
          <div class="kotak-1-gambar">
            <img src="{{ i.image_link }}" alt="Palu" style="width:376px" style="height:250.6px">
          </div>
        </div>
        <div class="col-sm-8">
          <div id="kotak-1-text">
            <ul>
              <h1><a href='/news/{{ i.id }}/' style="color: black;"><b>{{ i.title }}</b></a></h1>
              <p>{{ i.published_date }}</p>
              <p>{{i.content}}</p>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</body>
{% include 'baseapp/Footer.html' %}
</html>