<!-- {{ news.title }}
{{ news.content }}
{{ news.published_date }}
{{ news.image_link }}
 -->
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Detail News</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'baseapp/css/News.css' %}">
  <link rel="stylesheet" href="{% static 'news/css/newsdetail.css' %}">
  <link rel="icon" href="{% static 'baseapp/image/icon.png' %}" type="image/x-icon"/>
</head>

{% if user.is_authenticated %}
{% include 'baseapp/Navbar-login.html' %}
{% else %}
{% include 'baseapp/Navbar.html' %}
{% endif %}
<body>
  <div class="news-content">
    <div class="container">
      <div class="row">
        <div class="col align-self-center">
          <div class="news-title">
            <h1>{{ news.title }}</h1>
            <p style="font-size: 14px;">{{ news.published_date }}</p>
          </div>
          <div class="news-image">
            <img src="{{ news.image_link }}" alt="Palu"
              style="width: 800px" style="width: 600px">
          </div>
          <div class="news-text">
            <p>{{ news.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="news-data">
    <div class="news-data-button">
      <div class="container">
        <div class="row">
          <div class="col-auto mr-auto">
            <form action="/news/newslist/">
              <button type="submit" class="btn btn-dark">List Berita</button>
            </form>
          </div>
          <div class="col-auto">
          <form action="/donate/{{ news.program.id }}/">
            <button type="submit" class="btn btn-dark">Program</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% include 'baseapp/Footer.html' %}

</html>